---
interface Props {
  src : string;
  model : string;
  company : string;
  price: string;
}
const { model, src, company, price } = Astro.props;
---

<div class="flex flex-row w-64 h-96 relative justify-center">
  <img src={ src } alt="imagen del auto" class="h-2/3 object-cover rounded-md">
  <div class="absolute bg-cs-light bottom-0 w-full h-1/2 flex justify-center">
    <h3 class="absolute text-cs-dark text-3xl font-bold top-2">{ model }</h3>
    <small class="absolute text-cs-dark font-light bottom-1/2">{ company }</small>
    <span class="absolute text-cs-dark bottom-">{ price }</span>
    <button id="see_more" class="absolute bottom-0 text-cs-light bg-cs-dark rounded-md py-2 w-3/4 my-2 font-semibold">Cotizar</button>
  </div>
</div>

<script>
  const seeMore = document.getElementById('see_more');
  seeMore.addEventListener('click', () => {
    window.location = './';
  });
</script>